﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<p class="text-justify">
    This Privacy Policy describes how ("we," "us," or "our") collects, uses, and discloses information from and about users of our website .
    <div class="font-weight-bold">
        Information We Collect:
    </div>
    We collect the following types of information from and about users of the Website:

    Personal Information: This may include the student's name, contact information (e.g., email address, phone number), demographic information (e.g., grade level, school), and any other information that is personally identifiable. Usage Data: This information is automatically collected when you use the Website and may include your IP address, browser type, operating system, referring URL, time spent on the Website, and pages visited.
    <br><br>
    <div class="font-weight-bold">
        How We Use Your Information:
    </div>
    We use the information we collect for the following purposes:
    <br>
    To operate and maintain the Website;
    To provide and personalize the services offered on the Website;
    To communicate with you about your use of the Website;
    To comply with legal and regulatory requirements;
    To improve the Website and our services.
    <br><br>
    <div class="font-weight-bold">
        Sharing Your Information:
        <br>
    </div>
    We will not share your Personal Information with third parties except in the following limited circumstances:
    <br>
    With your consent;
    To service providers who help us operate the Website;
    To comply with legal or regulatory requirements;
    To protect the rights and safety of ourselves and others.
    Data Security:

    We take reasonable steps to protect the information you provide to us from unauthorized access, disclosure, alteration, or destruction. However, no website or internet transmission is completely secure, and we cannot guarantee the security of your information.
    <br><br>
    <div class="font-weight-bold">
        Children's Privacy:
    </div>
    We are committed to protecting the privacy of children. The Website is not directed to children under the age of 13, and we do not knowingly collect Personal Information from children under 13. If you are a parent or guardian and you believe that your child has provided us with Personal Information, please contact us.

    Changes to this Privacy Policy:

    We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on the Website.
    <br><br>
    <div class="font-weight-bold">
        Your Rights:
    </div>

    Depending on your location, you may have certain rights regarding your data. These rights may include the right to access, rectify, or erase your personal information. You may also have the right to restrict or object to the processing of your personal information. We encourage you to contact us if you have any questions about your rights.
    <br><br>
    <div class="font-weight-bold">
        Contact Us:
    </div>
    If you have any questions about this Privacy Policy, please contact us at [email address] or [phone number].

    Please note: This is a sample Privacy Policy and may not be suitable for all websites. You may need to modify this Policy to comply with applicable laws and regulations, as well as to reflect the specific features and functionality of your Website. It is recommended that you consult with an attorney to ensure that your Privacy Policy is legally compliant..
</p>